@import "../../assets/styles/variables.scss";

.movie-short-info {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: 0 2rem;
    position: relative;
    .movie-poster {
        width: 26rem;
        position: absolute;
        top: 0;
        left: 2rem;
        img {
            width: 100%;
            border-radius: 5px;
        }
    }
    .trailer {
        height: 80vh;
        width: 68%;
        position: relative;
        opacity: 50%;
    }
    .movie-short-info-text {
        position: absolute;
        top: 18rem;
        left: 35rem;
        color: white;
        z-index: 10;
        max-width: 25rem;
        h2 {
            font-size: 2.5rem;
            padding-bottom: 10px;
            line-height: 3rem;
        }
        p {
            margin-bottom: 8px;
            font-size: 14px;
        }
        .span-info {
            background-color: $light-gray;
            color: black;
            padding: 7px 10px;
            font-size: 12px;
            width: fit-content;
            margin: 10px 10px 0 0;
            display: inline-block;
        }
    }
}
