@import "../../assets/styles/variables.scss";

.new-form--container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 180%;
    background-color: rgba(23, 26, 31, 0.4);
    z-index: 30;
    .new-form {
        background-color: white;
        margin: 40% 33%;
        padding: 4rem 5rem;
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .form-close {
            position: absolute;
            top: -20px;
            right: -20px;
            background-color: $light-gray;
            border-radius: 50%;
            padding: 10px 12px;
            height: fit-content;
        }
        h2 {
            font-size: 3rem;
            color: $almost-black;
            text-align: center;
            margin-bottom: 20px;
        }
            label {
                color: $dark-gray;
                margin: 30px 20px 0;
                font-weight: 700;
            }
            input {
                border: none;
                border-bottom: 1px solid $dark-gray;
                color: $dark-gray;
                padding: 5px 0;
                margin: 0 20px;
                opacity: 80%;
            }
            input:focus{
                outline: none;
                border-bottom: $light-blue 2px solid;
                color: $dark-gray;
            }
            button {
                border: none;
                background-color: $light-blue;
                color: white;
                border-radius: 5px;
                padding: 12px 0;
                font-weight: 500;
                font-size: 16px;
                margin-top: 40px;
                box-shadow: 0px 5px 18px -3px rgba(28, 80, 141, 0.3);
            }
        }
    }

.inactive {
        display: none;
    }