@import "../../assets/styles/variables.scss";


.main-admin--second-section {
    display: flex;
    margin-bottom: 2rem;
    .movie-long-info {
        padding: 6rem 2rem 0;
        max-width: 30%;
        p {
            color: $dark-gray;
            opacity: 70%;
            font-size: 14px;
            line-height: 22px;
        }
        span {
            display: inline-block;
            color: $dark-gray;
            margin: 2rem 0 5px 0;
        }
    }
    
}
