@import "../../assets/styles/variables.scss";

.login {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(23, 26, 31, 0.4);
    z-index: 10;
    .login-container {
        background-color: white;
        margin: 5% 33%;
        padding: 4rem 5rem;
        position: relative;
        border-radius: 10px;
        .login-close {
            position: absolute;
            top: -20px;
            right: -20px;
            background-color: $light-gray;
            border-radius: 50%;
            padding: 10px 12px;
            height: fit-content;
        }
        h2 {
            font-size: 3rem;
            color: $almost-black;
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            color: $dark-gray;
            opacity: 80%;
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                color: $dark-gray;
                margin: 30px 20px 0;
                font-weight: 700;
            }
            input {
                border: none;
                border-bottom: 1px solid $dark-gray;
                color: $light-gray;
                padding: 5px 0;
                margin: 0 20px;
                opacity: 80%;
            }
            button {
                border: none;
                background-color: $light-blue;
                color: white;
                border-radius: 5px;
                padding: 12px 0;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 40px;
                box-shadow: 0px 5px 18px -3px rgba(28, 80, 141, 0.3);
            }
            .recordarme {
                display: flex;
                gap: 5px;
                margin: 20px 30px;
                align-items: center;
                input {
                    border-color: $light-blue;
                    margin: 0;
                }
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
        }
    }
    
}
.inactive {
        display: none;
    }