@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$font-roboto: 'Roboto', sans-serif;
$light-blue: #1C508D;
$principal-blue: #11184A;
$dark-gray: #47494F;
$light-gray: #EAEAEA;
$very-light-gray: #F6F6F6;
$inactive-gray: #C2C3D0;
$almost-black: #171A1F;
$chair-blue: #2678D0;
$chair-yellow: #FCB831;
$chair-red: #F55555;
$background-success: #FBFAF4;
$text-blue: #4C69A1;
