@import "../../assets/styles/variables.scss";

.tickets-quantity {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__type-of-ticket {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        color: $dark-gray;
    }

    &__info-ticket {
        display: flex;
        align-items: center;
        gap: 0.9rem;
    }

    &__quantity-container {
        display: flex;
        border: 1px solid $light-gray;
        gap: 0.7rem;
        padding: 0.1rem;
        border-radius: 5px;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    &__button-change-quantity {
        padding: 0.3rem 0.6rem;
        background-color: $principal-blue;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
}